# DONT share your secret key
SECRET_KEY=9f2e385c813a30f142784722e96bf4371f1591d453f4ae4a8a99b57e887036dd

# Change DEBUG to False if you want to set up production environment
DEBUG=True

# Create following database in docker container
DATABASE_URL=postgres://postgres:postgres@db:5432/mydb_dev

